.Step1__name_container {
    width: 70%;
    margin-bottom: 3px;
  }
  
  .Step1__description_container {
    width: 70%;
    margin-bottom: 3px;
    margin-top: 15px;
  }
  
  .Step1__description_input {
    height: 100px;
    resize: none;
  }
  
  .Step1__btn_container {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  